/* Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Root */

:root {
    --blue: #0084fd;
    --blue-card: #b5ddff;
    --purple: #9792e4;
    --gold: #fdc15f;
    --link: #8480c4;
}

/* 

480px, 576px, 768px, 992px, 1200px
*/



/* Utils */

.flex {
    display: flex;
}

.container {
    max-width: 90vw;
    margin: 0 auto;
}


/* Generals */

body {
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;

}

ul {
    list-style-type: none;
}



/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    align-items: center;

    background-color: var(--blue);
    max-height: 200px;
    padding: 20px;
}

header a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

header nav {
    flex-basis: 100%;
    justify-content: flex-end;
}

nav ul {
    display: none;
}

nav i {
    font-size: 35px;
    color: white;
}

.get-started-btn {
    color: black;
    background-color: white;
    padding: 5px 10px;
    border-radius: 25px;
    transform: translatey(-3px);
}

/* Jumbotron */


.jumbotron {
    margin-top: 150px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 100px;
}


.jumbotron .main-card, .jumbotron .card{
    background-color: var(--blue-card);
    border-radius: 25px;
    flex-basis: 90%;
}

.main-card img {
    max-width: 70%;
    display: blocK;
}




/* Main: Planning Section */


main section:nth-child(odd) {
    background-color: var(--purple);
}

.planning .container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.planning img {
    max-width: 50%;
}

.planning .card {
    background-color: white;
    border-radius: 25px;
}

/****************************************************
    R E S P O N S I V E 
****************************************************/

@media screen and (min-width: 768px) {

    /* Jumbotron */
    .jumbotron .main-card {
        flex-basis: calc((100% - 2rem) / 2);
        flex-grow: 1;
    }

    .jumbotron .card {
        flex-basis: calc((100% - 4rem) / 3)
    }


    /* Main: Planning */
    .planning img {
        max-width: 80%;
    }


}




@media screen and (min-width: 1200px) {

    /* Header */
    nav ul {
        display: flex;
    }

    .menu-btn {
        display: none;
    }



    /* Jumbotron */
    .jumbotron .main-card {
        display: flex;
    }

    .main-card img {
        width: 50%;
    }


    /* Main: Planning */
    .planning .container {
        flex-direction: row;
        justify-content: center;
    }

    .planning img {
        max-width: 40%;
    }

    .planning .content, 
    .planning .card {
        flex-basis: 40%;
        
    }
}